<h1 style="font-family: 'Clicker Script', cursive; font-size: 36px">Why not get email updates (It's Free)</h1>

<form action="/" method="get">
  <div class="field">
    <label class="label" for="username">Name</label>
    <div class="control">
      <input name="username" class="input" type="text" placeholder="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input name="email" class="input" type="text" placeholder="Email">
    </div>
  </div>
  
<button class="button is-info is-rounded is-small">Sign up</button>
</form>
