<nav class="navbar is-light">
<div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img height="112" width="112" src="https://previews.123rf.com/images/transiastock/transiastock1508/transiastock150800023/43462538-bel-arbre-ethnique-unique-de-la-vie-illustration.jpg" alt="image of tree of life">
      </a>
      <h1 class="navbar-item" style="font-family: 'Clicker Script', cursive; font-size: 36px">Movie Wisdom</h1>
    </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <div class="navbar-item">
        <a href="/">Home</a>
      </div>
      <div class="navbar-item">
      <a href="/about">About</a>
    </div>
      <div class="navbar-item">
      <a href="/quotes">All Qoutes</a>
    </div>
      <div class="navbar-item">
      <a href="/movies">All Movies</a>
    </div>
    <div class="navbar-item">
      <a href="/movies/new">New Entry  <i class="fas fa-plus-circle"></i></a>
    </div>
      <div class="navbar-item">
      <a href="/signup">Sign up!</a>
    </div>
    </div>
  </div>
</div>
</nav>
