<nav class="navbar">
<div class="container">
  <div class="navbar-left">
    <div class="navbar-brand">
      <figure class="image is-64x64">
        <img height="64px" src="https://previews.123rf.com/images/transiastock/transiastock1508/transiastock150800023/43462538-bel-arbre-ethnique-unique-de-la-vie-illustration.jpg" alt="image of tree of life">
      </figure>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <div class="navbar-item">
        <a href="/movies/new">➕ New entry</a>
      </div>
      <div class="navbar-item">
        <a href="/">Home</a>
      </div>
      <a href="/about">About</a>
      <a href="/movies">All Movies</a>
      <a href="/">Sign up</a>
    </div>
  </div>
</div>
</nav>
