<nav class="navbar is-light">
<div class="container">
  <div class="navbar-left">
    <div class="navbar-brand">
      <figure class="image is-64x64">
        <a href="/">
        <img style="border-radius: 50%" src="https://previews.123rf.com/images/transiastock/transiastock1508/transiastock150800023/43462538-bel-arbre-ethnique-unique-de-la-vie-illustration.jpg" alt="image of tree of life">
        </a>
      </figure>
    </div>
  </div>
  <div class="navbar-start">
    <div class="navbar-menu">
      <div class="navbar-item">
        <a href="/">Home</a>
      </div>
      <div class="navbar-item">
      <a href="/about">About</a>
    </div>
      <div class="navbar-item">
      <a href="/quotes">All Qoutes</a>
    </div>
      <div class="navbar-item">
      <a href="/movies">All Movies</a>
    </div>
    <div class="navbar-item">
      <a href="/movies/new">New Entry .<i class="fas fa-plus-square"></i></a>
    </div>
      <div class="navbar-item">
      <a href="/">Sign up</a>
    </div>
    </div>
  </div>
</div>
</nav>
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img style="border-radius: 50%" src="https://previews.123rf.com/images/transiastock/transiastock1508/transiastock150800023/43462538-bel-arbre-ethnique-unique-de-la-vie-illustration.jpg" alt="image of tree of life">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item is-active">
            Home
          </a>
          <a href="/about" class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Documentation
          </a>
          <span class="navbar-item">
            <a class="button is-primary is-inverted">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Download</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
