<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Qoute Blog</title>
    <script rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    </script>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
<footer class="footer is-info"> This is the footer ©️ ${date.getFullYear()}</footer>
  </body>
</html>
