
<div class="container">


<div class="columns is-multiline">
<% movies.forEach(movie => {%>
<div class="column is-3">
<a href="/movies/<%= movie.id %>">
  <img src="<%= movie.coverPic %>" alt="movie.filmName">
</a>


<h2 class= "subtitle is-2"> <%= movie.filmName %> </h2>
<h2 class= "subtitle is-2"><%= movie.releaseYear %></h2>
</div>
<% }) %>

<div class="column is-3">
<a href="/movies/new">
  <img style="height: 28%, width: 800%"  src="https://png.icons8.com/material/1600/add-file.png" alt="add entry">
</a>


<h2 class= "subtitle is-2"> Film tile</h2>
<h2 class= "subtitle is-2">Release Year</h2>
</div>

</div>
