<form action="/movies/<%= filmId %>/quotes" method="post">

<div class="field" >
<label class="label" for="charactorName">Charactor Name:</label>
  <div class="control">
<input class="input" type="text" name="charactorName" placeholder="Charactor name">
  </div>
</div>

<div class="field">
<label class="label" for="quote">Famous quotes</label>
  <div class="control">
<input class="input" type="text" name="quote" placeholder="Famous Quote">
  </div>
  <button class="button is-rounded">Add Movie</button>
  </form>
