
  <section  class="hero is-small is-dark is-bold">
    <div  class="hero-body">
      <div style="width: 100%;" class="container">
        <h1 class="title">

          <h1 style="padding-bottom: 50px;" class="title is-1 is-white">About</h1>
        </h1>
        <h2 class="subtitle is-6">
          <p>Hey! movie fans</p>
          <br>
          <p>At Movie wisdom, we believe that a well scripted in movie quote is
            a powerful tool and can have lasting impact. Reaching your long-term
             financial objectives hinges on having the right plan -- one that fits
              your unique circumstances and grows with you.
              Planning your financial future can be a daunting task.
              That's where [Company] comes in. We're trained, licensed professionals,
              and we can draw on years of financial planning experience when creating a
              long-term strategy. Whether your concern is paying too much in taxes
              or not having enough money to last throughout your retirement,
              we can help you. Most people need to update their financial plan
              each year to help ensure that it is in step with their life.
              If it's been a while, act today.</p>
        </h2>
      </div>
    </div>
  </section>
