<div class="header is-info">
  <section  class="hero is-small is-dark is-bold">
    <div  class="hero-body">
      <div style="width: 100%;" class="container">
        <h1 class="title">

          <h1 style="padding-bottom: 50px;" class="title is-1 is-white">Home</h1>
        </h1>
        <h2 class="subtitle">
          <p>Welcome to our website, where you'll find a wealth of information in the form of movie listings, quotation listings, and tools to add your own favourite movie quotes to our site.</p>
        </h2>
      </div>
    </div>
  </section>

</div>
<hr>
<H2 class="title is-2">Recent additions</H2>
<% movies.forEach(movie => {%>

  <h3 class="title is-3"> <%= movie.filmName %> </h3>

  <% movie.quotes.forEach(content => { %>
    <p> <%= content.quote %> </p>
    <p>(<%= content.charactorName %>)</p>
    <button class="button is-inverter">Like</button>
    <hr>
  <% }) %>
<% }) %>
